<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Data</th>
            <th scope="col">Serveis</th>
            <th scope="col">Pressupost</th>
            <th scope="col">Client</th>
            <th scope="col">Total</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of list; let i=index">
            <th scope="row">{{ i+1 }}</th>
            <td>{{ item.date }}</td>
            <td>{{ item.services }}</td>
            <td>{{ item.quotation }}</td>
            <td>{{ item.customer }}</td>
            <td>{{ item.total }}</td>
        </tr>
    </tbody>
</table>
