<div class="row justify-content-center">
    <div class="col-3">
        <button class="btn btn-light btn-sm" (click)="orderByName()">Ordenar pressupostos</button>
    </div>
    <div class="col-3">
        <button class="btn btn-light btn-sm" (click)="orderByDate()">Ordenar data</button>
    </div>
    <div class="col-3">
        <button class="btn btn-light btn-sm" (click)="resetOrder()">Reiniciar ordre</button>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Data</th>
            <th scope="col">Serveis</th>
            <th scope="col">Pressupost</th>
            <th scope="col">Client</th>
            <th scope="col">Total</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of orderList; let i=index">
            <th scope="row">{{ i+1 }}</th>
            <td>{{ item.date }}</td>
            <td>{{ item.services }}</td>
            <td>{{ item.quotation }}</td>
            <td>{{ item.customer }}</td>
            <td>{{ item.total }}</td>
        </tr>
    </tbody>
</table>
